.sidebar{
          padding-top: 6px;
         margin-left: 95px;
         margin-bottom: 10px;
         border-right: 1px solid lightgray;
         flex: 0.2;
         padding-right: 10px;
}

.sidebar__logo{
          margin-left: 10px;
          font-size: 30px !important;
          margin-top: 5px;
}